:root {
  --color-1: #F8F8F8;
  --color-2: #181328;
}

body {
  background-color: var(--color-2);
  color: var(--color-1);
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Squada One', cursive;
  text-transform: uppercase;
  text-align: center;
}

h1 {
  font-size: 5em;
}

#title-div {
  width: 100%;
  height: 50vw;
}

#trailer {
  width: 100%;
  position: fixed;
  z-index: -20;
}

#content {
  padding: 20px;
  background: var(--color-2) url('background.png') repeat;
}
